<div class="container-fluid breadcrumb-wrapper">
    <div style="float:right;margin-top:8px;">
        <button type="button" ng-click="$ctrl.cancel()" class="btn btn-xs btn-primary btn-linked"> &lt; Back</button>
        <button type="submit" class="btn btn-xs btn-primary btn-linked"><a href="javascript:void(0)" id="dlbtn">Save DDL</a></button>
        <button type="submit" class="btn btn-xs btn-primary btn-linked"><a href="javascript:void(0)" id="dmbtn">Save DML</a></button>
    </div>
</div>
<div id="erDiagram" class="top" style="position:absolute;top:60px;z-index:100"></div>
