<div class="container-fluid breadcrumb-wrapper">
    <form name="anchorsForm" novalidate class="form-horizontal" ng-submit="$ctrl.submitForm(source)">
    <div style="float:right;margin-top:8px;">
        <label style="margin-right:12px">Select Tables: </label>
        <label style="margin-right:8px;font-weight:500"><input type="radio" ng-model="$ctrl.anchoroot.type" value="anchor"> Anchor</label>
        <label style="margin-right:8px;font-weight:500"><input type="radio" ng-model="$ctrl.anchoroot.type" value="include"> Include</label>
        <label style="margin-right:8px;font-weight:500"><input type="radio" ng-model="$ctrl.anchoroot.type" value="exclude"> Exclude</label>
        <button ng-disabled="!anchorsForm.$valid" type="submit" class="btn btn-xs btn-primary">Submit</button>
        <button type="button" ng-click="$ctrl.resetAnchorsForm()" class="btn btn-xs btn-primary">Reset</button>
    </div>
    </form>
</div>
<div id="erDiagram" class="top" style="position:absolute;top:60px;z-index:100"></div>
